.content-block {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.guestbook {
  overflow-y: scroll;
  padding: 10px;
  border-radius: 10px;
  border: 1px dashed #ccc;
  height: 100%;
}

.guestbook-item + .guestbook-item {
  margin-top: 10px;
}

.guestbook-form {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
  margin-bottom: 20px;
}

.guestbook-item-top, .guestbook-item-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 5px;
}

.guestbook-item {
  padding: 10px;
  border-radius: 10px;
  border: 1px dashed #0093ff29;
  background-color: #0093ff07;
}
.btn.btn-guest-del {
  padding: 0;
  border: 0;
  background: 0;
  width: auto;
  color: var(--main-color);
}

.bracket {
  color: #ccc;
}