.login-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.login-box {
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  gap: 25px;
  width: 80%;
  max-width: 944px;
  min-width: 810px;
  height: 72%;
  max-height: 595px;
  min-height: 540px;
  padding: 12px;
  border-radius: 10px;
  /* border: 30px solid #0093ff17; */
  background: url(../assets/images/login-box-img.png);
  background-size: cover;
  padding-bottom: 70px;
}
.login-box form div {
  display: flex;
  gap: 5px;
}
.login-box form p {
  display: block;
  margin-top: 5px;
  color: #f00;
}