:root {
	--main-color: #0093ff;
}

* {
  box-sizing: border-box;
  font-family: 'PixelFont', monospace;
  font-size: 12px;
  line-height: 1;           /* 픽셀폰트는 라인하이트 정수/짧게 */
  text-rendering: optimizeSpeed; /* 과한 보정 줄이기(브라우저마다 체감 다름) */
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: auto;
  font-smooth: never; /* 일부 브라우저만 */
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
  font-family: 'PixelFont', monospace;
  font-size: 12px;
  line-height: 1;           /* 픽셀폰트는 라인하이트 정수/짧게 */
  text-rendering: optimizeSpeed; /* 과한 보정 줄이기(브라우저마다 체감 다름) */
  -webkit-font-smoothing: none;
  -moz-osx-font-smoothing: auto;
  font-smooth: never; /* 일부 브라우저만 */
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


button {
	padding: 3px 4px;
	border: 1px solid var(--main-color);
	border-radius: 3px;
	cursor: pointer;
}

input:focus,
textarea:focus {
	outline: none;
	border: 1px solid var(--main-color);
}